@import './../../../variables';

.custom-button {
    background-color: $background_color0;
    @include setFont('SF Pro Display', 600, 1rem, 1.5rem);
    color: $text_color1;
    text-align: center;
    box-shadow: $box_shadow0;
    user-select: none;
    cursor: pointer;

    &.hidden {
        visibility: hidden;
    }
}
