@import './../../../variables';

.exercise-page {
    max-width: 800px;
    margin: 72px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .exercise-status {
        color: $text_color0;
        @include setFont('SF Pro Display', 600, 1.5rem, 2rem);
    }

    .tools {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        .custom-button {
            width: 74px;
            height: 48px;
            background: transparent;
            box-shadow: none;
            border: 2px solid $border_color3;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;

            > div {
                width: 16px;
                height: 16px;
                background-size: contain;
            }

            .next {
                background-image: url('./../../../img/next.svg');
            }

            .previous {
                background-image: url('./../../../img/previous.svg');
            }
        }

        .countdown {
            position: relative;
            margin: 32px 0;
            height: 128px;
            width: 128px;
            text-align: center;

            .countdown-number {
                color: $text_color2;
                display: inline-block;
                @include setFont('SF Pro Display', 600, 2.5rem, 8rem);
            }

            .countdown-svg {
                position: absolute;
                top: 0;
                right: 0;
                width: 128px;
                height: 128px;
                transform: rotateY(-180deg) rotateZ(-90deg);

                .countdown-circle {
                    stroke-dashoffset: 0px;
                    stroke-linecap: round;
                    stroke-width: 8px;
                    stroke: $border_color1;
                    fill: none;
                    stroke-dasharray: 352px;

                    &-preparing {
                        animation: countdown-preparing linear forwards;
                    }

                    &-training {
                        animation: countdown-training linear forwards;
                    }

                    &-toggled-preparing {
                        animation: countdown-preparing-toggled linear forwards;
                    }

                    &-toggled-training {
                        animation: countdown-training-toggled linear forwards;
                    }

                    &.paused {
                        animation-play-state: paused;
                    }
                }
            }

            &.training {
                .countdown-number {
                    color: $text_color3;
                }

                .countdown-svg {
                    .countdown-circle {
                        stroke: $border_color2;
                    }
                }
            }
        }
    }

    .button-wrapper {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
            rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
            rgba(0, 0, 0, 0.09) 0px -3px 5px;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        background: white;
        padding: 12px 0;
        display: flex;
        justify-content: center;

        .play-pause-button {
            padding: 10px;
            border-radius: 50%;

            .button-image {
                width: 24px;
                height: 24px;

                &.play {
                    background-image: url('./../../../img/play.svg');
                }

                &.pause {
                    background-image: url('./../../../img/pause.svg');
                }
            }
        }
    }
}

@keyframes countdown-preparing {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 352px;
    }
}

@keyframes countdown-training {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 352px;
    }
}

@keyframes countdown-preparing-toggled {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 352px;
    }
}

@keyframes countdown-training-toggled {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 352px;
    }
}
